*{
	margin:0px;
	padding: 0px; 
}
#div1{
	height: 140px;
	width: 100%;
}
#div21{
	height: 1000px;
	width: 840px;
	position: relative;
}

#div22{
	height: 460px;
	width: 560px;
	position: absolute;
	top: 50px;
	left: 15%;
}

#div3{
	height: 800px;
	width: 600px;
	position:absolute;
	top: 140px;
	left: 850px; 
}